@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-image{
  background-image: url('/bg3.png');
  background-size: contain;
}
.vio-text{
  color:#9340FF;
}
.vio-bg{
  color:rgb(147, 64, 255), 100%, 63%;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 1.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.light .hero__blob {
  fill: var(--first-color);
  filter: drop-shadow(10px 70px 14px rgba(109, 42, 196, 0.15));
}
.dark .hero__blob {
  fill: var(--first-color);
  filter: drop-shadow(10px 70px 14px rgba(75, 75, 75, 0.15));
}
.light .hero__blob_1 {
  fill: var(--first-color);
  filter: drop-shadow(0px 20px 12px rgba(109, 42, 196, 0.20));
}
.dark .hero__blob_1 {
  fill: var(--first-color);
  filter: drop-shadow(10px 20px 14px rgba(75, 75, 75, 0.15));
}
.hero__blob-img{
 width: 180px;
}

.light .about__blob {
  fill: var(--first-color);
  filter: drop-shadow(30px 20px 54px rgba(109, 42, 196, 0.5));
}

@layer base {
  .scaleLogo {
    @apply transition ease-in-out delay-0  hover:-translate-y-1 hover:scale-110 duration-150 cursor-pointer
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.slick-prev, .slick-next {
  font-size: 15px !important;
}

 .slick-prev:before, .slick-next:before  {
  content: '' !important;
}
.loader{
  display: block;
  position: relative;
  height: 12px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: #9340FF;
  animation: 5s prog ease-in ;
}

@keyframes prog {
  to  {   width: 100%; background: #9340FF;}
}

